SECRET_KEY="SECRET_KEY"
DEBUG=[True or False]
DEVELOPMENT_MODE=[True or False]
ADMIN_PASSWORD="secure_admin_password"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,remote_ip
#AWS_ACCESS_KEY_ID= [NOT USED]
#AWS_SECRET_ACCESS_KEY= [NOT USED]

# PostgreSQL settings
POSTGRES_USER=[username]
POSTGRES_PASSWORD=[password]
POSTGRES_DB=[db]
DATABASE_URL=postgres://[username]:[password]@db:5432/[db]

LOCALHOST_DOCKER=[True or False]
