{% load static %}
<div id="maincontent">
        <div id="content">


            <script>jQuery('.afterMainHeader').remove();</script>
            <div id="afterMainHeader">
                <div class="afterMainHeaderContent">
                    <h1 class="hideOnMobile">Undertale France</h1>
                    <div class="subHeaderMembres"><b>{{utf.total_users}}</b> membre{{utf.total_users|pluralize}}    <b>{{utf.get_total_topics}}</b> sujets    <b>{{utf.total_messages}}</b> message{{utf.total_messages|pluralize}}   
                        depuis <b>2025</b></div>
                    <div style="display: flex; width: 100%; align-items: center; justify-content: space-between; gap: 10px;">
                        <div class="listforum listmainusers"
                            style="font-size: 1.4em; border: 0; margin: 0 calc( 0em - var(--padding-left-right-remove));
padding: 0 calc(var(--padding-left-right-remove) + 0.2em); margin-top: 0.3em; max-width: calc( 100% + ( 2 * var(--padding-left-right-remove) ) - 0.6em);overflow: auto;">
                        {% for user in recently_active_users %}
                            <a href="{% url 'profile-details' user.id %}" rel="nofollow" class="autoUserPopup"
                                userid="2-1754313061-cf7ea01a465856eb036c86de8a9064d947f8c9f1"
                                style="border: 0.15em solid var(--var-tr-color); border-radius: 5em; margin-left: -0.25em; z-index: {{100|add:forloop.revcounter}}; cursor: pointer;">

                            {% if user.profile.profile_picture %}
                                <div class="avatar"
                                    style="background-image: url({{ user.profile.profile_picture.url }}); cursor: pointer;">
                                </div>
                            {% else %}
                                <div class="avatar empty"
                                    style="background-color: {{user.profile.random_color}}; color: rgba(255, 255, 255, 0.9); cursor: pointer;">
                                {{ user.username|slice:":1"|upper }}</div>
                            </a>
                            {% endif %}
                        {% endfor %}

                        </div>
                        <div class="hideOnMobile">
                            <div class="submit-buttons" style="font-size: 0.8em">
                                <div style="position: relative">
                                    <button
                                        onclick="event.stopPropagation(); jQuery('.autoRollUp:not(#shareDropDown)').slideUp(200); jQuery(this).next().stop().slideToggle('fast');"><i
                                            class="fa-solid fa-share"></i> Partager</button>
                                    <div class="submenu_popup autoRollUp" id="shareDropDown">
                                        <button
                                            onclick="event.stopPropagation(); jQuery(this).parent().slideToggle('fast'); window.open('https://wa.me/?text=' + encodeURIComponent(document.location.href));"
                                            style="width: 100%; text-align: left;"><i
                                                class="fa-brands fa-xl fa-whatsapp"></i> Whatsapp</button><br>
                                        <button
                                            onclick="event.stopPropagation(); jQuery(this).parent().slideToggle('fast'); window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.location.href));"
                                            style="width: 100%; text-align: left;"><i
                                                class="fa-brands fa-xl fa-facebook"></i> Facebook</button><br>
                                        <button
                                            onclick="event.stopPropagation(); jQuery(this).parent().slideToggle('fast'); window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(document.location.href)); "
                                            style="width: 100%; text-align: left;"><i
                                                class="fa-brands fa-xl fa-x-twitter"></i> X / Twitter</button><br>
                                    </div>
                                </div>

                                <button onclick="kajaxdocumentlocationhref('/posting.php?mode=newtopic');"><i
                                        class="fa-solid fa-comment-plus"></i> Nouveau sujet</button>

                            </div>
                        </div>
                    </div>

                    <div class="homeOnglets">
                        <a class="sel" href="/index.php"
                            kajaxoptions="{&quot;noScrollTop&quot;:1,&quot;noAfterMainHeaderRemovex&quot;:1,&quot;idsx&quot;:[&quot;#forHomeMainRefresh&quot;]}">Discussions</a>
                        <a href="/index.php?filter=activities"
                            kajaxoptions="{&quot;noScrollTop&quot;:1,&quot;noAfterMainHeaderRemovex&quot;:1,&quot;idsx&quot;:[&quot;#forHomeMainRefresh&quot;]}">Activités</a>
                        <a href="/index.php?filter=medias" kajaxoptions="{&quot;noScrollTop&quot;:1}">Médias</a>
                        <a href="/memberlist.php" kajaxoptions="{&quot;noScrollTop&quot;:1}">Membres</a>
                        <a href="/index.php?filter=events" kajaxoptions="{&quot;noScrollTop&quot;:1}"
                            style="position: relative">
                            <div class="menubarv2notif notifsoft for_event_nb" style="display: none;"></div> Evènements
                        </a>


                    </div>
                </div>
            </div>
            <style>
                #mainheader {
                    margin-bottom: 0;
                }
            </style>
            <script>
                jQuery('#mainheader').after(jQuery('#afterMainHeader'));
                jQuery('#afterMainHeader').attr('id', '').addClass('afterMainHeader');
            </script>