{% load static %}
<form method="get" name="jumpbox" action="{% url 'archive:jumpbox-redirect' %}"
    onsubmit="if(document.jumpbox.f.value == -1){return false;}">
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td nowrap="nowrap"><span class="gensmall">Sauter vers:&nbsp;<select name="f"
                            onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">
                            <option value="-1">Sélectionner un forum</option>
                            <option value="-1">----------------</option>
                            <option value="c1">RUINS</option>
                            <option value="f8">&nbsp; &nbsp;Règles du forum et Annonces</option>
                            <option value="f10">&nbsp; &nbsp;Présentations</option>
                            <option value="c2">Snowdin</option>
                            <option value="f17">&nbsp; &nbsp;Aide et idées</option>
                            <option value="f18">&nbsp; &nbsp;Tuto / Astuces</option>
                            <option value="c3">Waterfall</option>
                            <option value="f20">&nbsp; &nbsp;Easter eggs</option>
                            <option value="f25">&nbsp; &nbsp;Espace technique</option>
                            <option value="c4">Hotland</option>
                            <option value="f22">&nbsp; &nbsp;Discussions générales</option>
                            <option value="f14">&nbsp; &nbsp;Théories</option>
                            <option value="f15">&nbsp; &nbsp;Fangames / Unitale</option>
                            <option value="f16">&nbsp; &nbsp;Médias</option>
                            <option value="f32">&nbsp; &nbsp;Création</option>
                            <option value="c5">Surface</option>
                            <option value="f11">&nbsp; &nbsp;Section libre</option>
                            <option value="f12">&nbsp; &nbsp;Jeux</option>
                            <option value="f31">&nbsp; &nbsp;&nbsp; &nbsp;RolePlay</option>
                            <option value="f28">&nbsp; &nbsp;Membres</option>
                            <option value="f29">&nbsp; &nbsp;Sondages</option>
                            <option value="f13">&nbsp; &nbsp;Pub</option>
                        </select>&nbsp;<input type="submit" value="Aller" class="liteoption"></span>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<span class="gensmall"></span>