{% extends "base.html" %}
{% block title %}
<title>Undertale France - FAQ</title>
{% endblock %}
{% block content %}
{% load static %}

<style>
    /* Only for this page */
    td.spaceRow {
      height: 7px !important;
      padding: 0 !important;
      line-height: 0 !important;
      border: none !important;
    }
    td.spaceRow img {
      display: block !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
    }
</style>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
    <tr>
        <td align="left" class="nav"><a href="{% url 'index' %}" class="nav">Undertale France Index du Forum</a></td>
    </tr>
</table>
<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <th class="thHead">FAQ</th>
    </tr>
    <tr>
        <td class="row1">

            <span class="gen"><b>Connexion et Enregistrement</b></span><br />

            <span class="gen"><a href="#0" class="postlink">Pourquoi ne puis-je pas me connecter ?</a></span><br />

            <span class="gen"><a href="#1" class="postlink">Pourquoi n’ai-je pas besoin de m’enregistrer
                    ?</a></span><br />

            <span class="gen"><a href="#2" class="postlink">Pourquoi suis-je déconnecté automatiquement
                    ?</a></span><br />

            <span class="gen"><a href="#3" class="postlink">Comment puis-je éviter que mon nom d’utilisateur apparaisse
                    dans la liste des utilisateurs en ligne ?</a></span><br />

            <span class="gen"><a href="#4" class="postlink">J’ai perdu mon mot de passe !</a></span><br />

            <span class="gen"><a href="#5" class="postlink">Je me suis inscrit mais ne peux pas me connecter
                    !</a></span><br />

            <span class="gen"><a href="#6" class="postlink">Je me suis enregistré dans le passé, mais ne peux plus me
                    connecter ?!</a></span><br />

            <br />

            <span class="gen"><b>Préférences et paramètres des Utilisateurs</b></span><br />

            <span class="gen"><a href="#7" class="postlink">Comment puis-je changer mes préférences ?</a></span><br />

            <span class="gen"><a href="#8" class="postlink">Les heures ne sont pas correctes !</a></span><br />

            <span class="gen"><a href="#9" class="postlink">J’ai changé le fuseau horaire et l’heure est toujours
                    incorrecte !</a></span><br />

            <span class="gen"><a href="#10" class="postlink">Comment puis-je montrer une image en dessous de mon nom
                    d’utilisateur ?</a></span><br />

            <span class="gen"><a href="#11" class="postlink">Comment puis-je changer mon groupe ?</a></span><br />

            <span class="gen"><a href="#12" class="postlink">Lorsque je clique sur le lien e-mail d’un utilisateur, on
                    me demande de me connecter !</a></span><br />

            <br />

            <span class="gen"><b>Publication</b></span><br />

            <span class="gen"><a href="#13" class="postlink">Comment puis-je poster un sujet dans un forum
                    ?</a></span><br />

            <span class="gen"><a href="#14" class="postlink">Comment puis-je éditer ou supprimer un message
                    ?</a></span><br />

            <span class="gen"><a href="#15" class="postlink">Comment puis-je ajouter une signature à mon message
                    ?</a></span><br />

            <span class="gen"><a href="#16" class="postlink">Comment puis-je créer un sondage ?</a></span><br />

            <span class="gen"><a href="#17" class="postlink">Comment puis-je éditer ou supprimer un sondage
                    ?</a></span><br />

            <span class="gen"><a href="#18" class="postlink">Pourquoi ne puis-je pas accéder à un forum
                    ?</a></span><br />

            <span class="gen"><a href="#19" class="postlink">Pourquoi ne puis-je pas voter dans un sondage
                    ?</a></span><br />

            <br />

            <span class="gen"><b>Mise en forme et types de sujets</b></span><br />

            <span class="gen"><a href="#20" class="postlink">Qu’est-ce que le BBCode ?</a></span><br />

            <span class="gen"><a href="#21" class="postlink">Puis-je utiliser le HTML?</a></span><br />

            <span class="gen"><a href="#22" class="postlink">Que sont les smilies ?</a></span><br />

            <span class="gen"><a href="#23" class="postlink">Puis-je poster des Images?</a></span><br />

            <span class="gen"><a href="#24" class="postlink">Que sont les Annonces ?</a></span><br />

            <span class="gen"><a href="#25" class="postlink">Que sont les Post-it ?</a></span><br />

            <span class="gen"><a href="#26" class="postlink">Que sont les sujets de discussions verrouillés
                    ?</a></span><br />

            <br />

            <span class="gen"><b>Niveaux des Utilisateurs et Groupes</b></span><br />

            <span class="gen"><a href="#27" class="postlink">Qui sont les Administrateurs ?</a></span><br />

            <span class="gen"><a href="#28" class="postlink">Qui sont les Modérateurs?</a></span><br />

            <span class="gen"><a href="#29" class="postlink">Que sont les groupes d’utilisateurs ?</a></span><br />

            <span class="gen"><a href="#30" class="postlink">Comment puis-je joindre un groupe d’utilisateurs
                    ?</a></span><br />

            <span class="gen"><a href="#31" class="postlink">Comment puis-je devenir le modérateur d’un groupe
                    d’utilisateurs ?</a></span><br />

            <br />

            <span class="gen"><b>Messagerie Privée</b></span><br />

            <span class="gen"><a href="#32" class="postlink">Je ne peux pas envoyer de messages privés
                    !</a></span><br />

            <span class="gen"><a href="#33" class="postlink">Je continue de recevoir des messages privés non-désirés
                    !</a></span><br />

            <span class="gen"><a href="#34" class="postlink">J’ai reçu un e-mail abusif ou de spamming de quelqu’un sur
                    ce forum !</a></span><br />

            <br />

            <span class="gen"><b>Xooit</b></span><br />

            <span class="gen"><a href="#35" class="postlink">Comment a été créé ce forum ?</a></span><br />

            <br />

        </td>
    </tr>
    <tr>
        <td class="catBottom" height="28"> </td>
    </tr>
</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Connexion et Enregistrement</span></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="0"></a><b>Pourquoi ne puis-je pas me
                    connecter ?</b></span><br /><span class="postbody">Vous êtes-vous enregistré ? Plus sérieusement,
                vous devez vous enregistrer afin de vous connecter. Avez-vous été banni du forum (un message est affiché
                si vous l’êtes) ? Si oui, vous devriez contacter le webmestre ou l’administrateur du forum pour en
                découvrir la raison. Si vous vous êtes enregistré et que vous n’êtes pas banni et que vous ne pouvez
                toujours pas vous connecter, vérifiez et revérifiez vos nom d’utilisateur et mot de passe; c’est
                généralement de là que vient le problème. Si cela ne fonctionne toujours pas, contactez l’administrateur
                du forum; il se peut que le forum ait été mal configuré.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="1"></a><b>Pourquoi n’ai-je pas besoin
                    de m’enregistrer ?</b></span><br /><span class="postbody">Vous pouvez ne pas en avoir besoin; c’est
                à l’administrateur de décider si vous avez besoin ou non de vous enregistrer pour poster des messages
                sur certains forums. Toutefois, l’enregistrement vous donnera accès à des fonctions additionnelles
                non-disponibles pour les invités tels que le choix d’une image avatar, une messagerie privée, l’envoi
                d’e-mail à des amis, l’inscription à un groupe d’utilisateurs, etc… L’enregistrement prend seulement
                quelques instants; il est donc recommandé de le faire.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="2"></a><b>Pourquoi suis-je déconnecté
                    automatiquement ?</b></span><br /><span class="postbody">Si vous ne cochez pas la case <i>Se
                    connecter automatiquement à chaque visite</i> lorsque vous vous connectez, le forum vous gardera
                seulement connecté pour une période préétablie. Ceci permet d’éviter une utilisation abusive de votre
                compte par quelqu’un d’autre. Pour rester connecté, cochez la case en vous connectant; ceci n’est pas
                recommandé si vous accédez au forum en utilisant un ordinateur partagé, exemple : bibliothèque,
                cybercafé, université, etc…<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="3"></a><b>Comment puis-je éviter que
                    mon nom d’utilisateur apparaisse dans la liste des utilisateurs en ligne ?</b></span><br /><span
                class="postbody">Dans votre profil, vous trouverez une option <i>Cacher sa présence en ligne</i>; si
                vous choisissez <i>Oui</i>, vous n’apparaîtrez qu’uniquement aux yeux des administrateurs ou vous-même.
                Vous serez compté comme un utilisateur invisible.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="4"></a><b>J’ai perdu mon mot de passe
                    !</b></span><br /><span class="postbody">Ne paniquez pas ! Si votre mot de passe ne peut être
                retrouvé, il peut par contre être réinitialisé. Pour ce faire, allez sur la page de connexion et cliquez
                sur <u>J’ai oublié mon mot de passe</u>, puis suivez les instructions et vous devriez pouvoir vous
                reconnecter en un rien de temps.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="5"></a><b>Je me suis inscrit mais ne
                    peux pas me connecter !</b></span><br /><span class="postbody">Premièrement, vérifiez que vous avez
                entré correctement vos nom d’utilisateur et mot de passe. S’ils ont correctement été entrés, alors il y
                a deux possibilités. Si le support COPPA est activé et que vous avez cliqué sur le lien <u>J’ai moins de
                    13 ans</u> au moment de l’enregistrement, alors vous devrez suivre les instructions que vous avez
                reçues. Si ce n’est pas le cas, alors peut-être que votre compte a besoin d’être activé ? Certains
                forums requièrent que tous les nouveaux enregistrements soient activés, soit par vous-même, soit par
                l’administrateur avant de pouvoir vous connecter. Lorsque vous vous êtes enregistré, un message aurait
                dû vous apprendre si l’activation est requise ou non. Si vous avez reçu un e-mail, suivez alors les
                instructions qui s’y trouvent; si vous ne l’avez pas reçu, alors êtes-vous bien sûr que l’adresse e-mail
                que vous avez fournie lors de l’enregistrement est valide ? L’une des raisons pour lesquelles
                l’activation est utilisée, c’est de réduire les chances de voir des utilisateurs malintentionnés abuser
                du forum anonymement. Si vous êtes sûr que l’adresse e-mail que vous avez fournie est valide, essayez
                alors de contacter l’administrateur du forum.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="6"></a><b>Je me suis enregistré dans
                    le passé, mais ne peux plus me connecter ?!</b></span><br /><span class="postbody">Les raisons les
                plus probables pour ce problème sont : vous avez entré un nom d’utilisateur ou mot de passe incorrect
                (vérifiez l’e-mail qui vous a été envoyé lorsque vous vous êtes enregistré) ou l’administrateur a
                supprimé votre compte pour quelque raison. Si vous vous trouvez dans le dernier cas, peut-être alors que
                vous n’avez rien posté ? Il est habituel pour les forums de supprimer périodiquement les comptes des
                utilisateurs n’ayant rien posté afin de réduire la taille de la base de données. Essayez de vous
                enregistrer encore et impliquez-vous dans les discussions.<br /><a class="postlink" href="#top">Revenir
                    en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Préférences et paramètres des
                Utilisateurs</span></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="7"></a><b>Comment puis-je changer mes
                    préférences ?</b></span><br /><span class="postbody">Toutes vos préférences (si vous êtes
                enregistré) sont stockées dans la base de données. Pour les modifier, cliquez sur le lien <u>Profil</u>
                (généralement en haut des pages, mais cela peut ne pas être le cas). Ceci vous permettra de changer
                toutes vos préférences.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="8"></a><b>Les heures ne sont pas
                    correctes !</b></span><br /><span class="postbody">Les heures sont certainement correctes;
                toutefois, ce que vous pouvez voir sont les heures affichées dans un fuseau horaire différent du vôtre.
                Si c’est le cas, vous devriez changer vos préférences dans votre profil en choisissant le fuseau horaire
                qui vous convient, exemple : Londres, Paris, New York, Sydney, etc… Veuillez noter que changer le fuseau
                horaire, comme la plupart des autres options, peut uniquement être effectué par les utilisateurs
                enregistrés. Donc, si vous n’êtes pas enregistré, c’est la bonne heure pour le faire, si vous pardonnez
                le jeu de mots !<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="9"></a><b>J’ai changé le fuseau
                    horaire et l’heure est toujours incorrecte !</b></span><br /><span class="postbody">Si vous êtes sûr
                d’avoir choisi le bon fuseau horaire et que l’heure est toujours différente, la réponse la plus probable
                est le passage à l’heure d’été. Le forum n’a pas été conçu pour gérer le changement entre l’heure
                d’hiver et l’heure d’été; donc, durant l’été, l’heure sera décalée d’une heure par rapport à l’heure
                locale réelle.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="10"></a><b>Comment puis-je montrer
                    une image en dessous de mon nom d’utilisateur ?</b></span><br /><span class="postbody">Il peut y
                avoir deux images sous votre nom d’utilisateur lorsque vous lisez des messages. La première est l’image
                associée avec votre groupe, généralement elles prennent la forme d’étoiles ou de blocs indiquant combien
                de messages vous avez fait ou votre statut sur le forum. En dessous de celle-ci peut se trouver une
                image plus grande nommée avatar, qui est généralement unique ou personnelle à chaque utilisateur. C’est
                à l’administrateur du forum d’activer les avatars et de choisir la manière dont les avatars seront
                disponibles. Si vous ne pouvez pas utiliser un avatar, cela voudra alors dire que l’administrateur en a
                décidé ainsi, vous pouvez le contacter pour lui en demander les raisons (nous sommes sûr qu’elles seront
                bonnes !).<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="11"></a><b>Comment puis-je changer
                    mon groupe ?</b></span><br /><span class="postbody">En général, vous ne pouvez pas directement
                changer le titre d’un groupe (le titre d’un groupe apparaît sous votre nom d’utilisateur dans les sujets
                de discussions et dans votre profil selon le thème utilisé). La plupart des forums utilisent les groupes
                pour indiquer le nombre de messages que vous avez postés, mais aussi pour identifier certains
                utilisateurs, exemple : les modérateurs et administrateurs peuvent avoir un groupe spécifique qui leur
                est propre. Veuillez ne pas poster inutilement sur le forum dans le but d’élever votre groupe; vous
                trouverez probablement un modérateur ou administrateur qui abaissera simplement votre compte de votre
                nombre total de messages.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="12"></a><b>Lorsque je clique sur le
                    lien e-mail d’un utilisateur, on me demande de me connecter !</b></span><br /><span
                class="postbody">Désolé, mais seuls les utilisateurs enregistrés peuvent envoyer des e-mails à des gens
                via le formulaire d’e-mail intégré au forum (dans le cas où l’administrateur aurait activé cette
                fonctionnalité). Ceci, pour éviter l’utilisation malveillante du système d’e-mail par des utilisateurs
                anonymes.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Publication</span></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="13"></a><b>Comment puis-je poster un
                    sujet dans un forum ?</b></span><br /><span class="postbody">Facile, cliquez sur le bouton approprié
                soit sur la page du forum, soit sur la page du sujet. Vous pourriez avoir besoin de vous enregistrer
                avant de pouvoir poster un message; les droits qui vous sont disponibles sont listés sur le bas de la
                page du forum ou du sujet (la liste <i>Vous pouvez poster de nouveaux sujets, vous pouvez voter,
                    etc…</i>)<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="14"></a><b>Comment puis-je éditer ou
                    supprimer un message ?</b></span><br /><span class="postbody">A moins que vous soyez
                l’administrateur ou modérateur du forum, vous pouvez seulement éditer ou supprimer vos propres messages.
                Vous pouvez éditer un message (parfois seulement après un certain temps après qu’il soit posté) en
                cliquant sur le bouton <i>Editer</i> du message concerné. Si quelqu’un a déjà répondu à votre message,
                vous trouverez un petit morceau de texte en dessous de votre message en retournant le lire, indiquant le
                nombre de fois que vous l’avez édité. Ce petit texte n’apparaîtra pas si personne n’a répondu, il
                n’apparaîtra pas non plus si un modérateur ou un administrateur édite le message (ils devraient laisser
                un message expliquant ce qu’ils ont modifié et pourquoi). Veuillez noter qu’un utilisateur ne peut pas
                supprimer un message une fois que quelqu’un y a répondu.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="15"></a><b>Comment puis-je ajouter
                    une signature à mon message ?</b></span><br /><span class="postbody">Pour ajouter une signature à un
                message, vous devez d’abord en créer une, en allant dans votre profil. Une fois créée, vous pouvez
                cocher la case <i>Attacher sa signature</i> lors de la composition d’un message pour ajouter votre
                signature. Vous pouvez aussi ajouter votre signature à tous vos messages en cochant la case appropriée
                dans votre profil (vous pourrez toujours empêcher d’attacher votre signature à un message en particulier
                en décochant la case Attacher sa signature lors de sa composition).<br /><a class="postlink"
                    href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="16"></a><b>Comment puis-je créer un
                    sondage ?</b></span><br /><span class="postbody">Créer un sondage est facile; lorsque vous postez un
                nouveau sujet (ou éditez le premier message d’un sujet, si vous en avez le droit), vous devriez
                apercevoir une partie <i>Ajouter un sondage</i> dans le formulaire en dessous de la partie <i>Poster un
                    nouveau sujet</i> (si vous ne le voyez pas, c’est que vous n’avez probablement pas le droit de créer
                des sondages). Vous devez entrer un titre pour le sondage et au moins deux options (pour définir une
                option, entrez son nom dans le champ approprié puis cliquez sur le bouton <i>Ajouter l’option</i>. Vous
                pouvez également définir une date limite pour le sondage; 0 est un sondage infini. Il y a une limite
                pour le nombre d’options que vous pourrez établir; cette limite est fixée par l’administrateur du
                forum).<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="17"></a><b>Comment puis-je éditer ou
                    supprimer un sondage ?</b></span><br /><span class="postbody">Comme pour les messages, les sondages
                peuvent uniquement être édités par le posteur d’origine, un modérateur ou un administrateur. Pour éditer
                un sondage, cliquez sur le bouton ’Editer’ du premier message du sujet (il a toujours le sondage associé
                avec lui). Si personne n’a encore voté, vous pouvez alors supprimer le sondage ou éditer n’importe
                quelle option du sondage. Par contre, si une personne a déjà voté, seuls les modérateurs et
                administrateurs pourront l’éditer ou le supprimer, ceci pour éviter aux gens de truquer les sondages en
                modifiant les options au milieu de la durée du sondage.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="18"></a><b>Pourquoi ne puis-je pas
                    accéder à un forum ?</b></span><br /><span class="postbody">Certains forums peuvent limiter l’accès
                à certains utilisateurs ou groupes. Pour voir, lire, poster, etc… vous devez avoir une autorisation
                spéciale. Seuls le modérateur et l’administrateur du forum peuvent accorder cet accès; vous pouvez les
                contacter si vous le voulez.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="19"></a><b>Pourquoi ne puis-je pas
                    voter dans un sondage ?</b></span><br /><span class="postbody">Seuls les utilisateurs enregistrés
                peuvent voter dans un sondage (afin d’éviter le trucage des résultats). Si vous vous êtes enregistré et
                que vous ne pouvez toujours pas voter, alors vous n’avez probablement pas les droits d’accès
                appropriés.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Mise en forme et types de sujets</span>
        </td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="20"></a><b>Qu’est-ce que le BBCode
                    ?</b></span><br /><span class="postbody">Le BBCode est une implémentation spéciale du HTML;
                l’activation de l’utilisation du BBCode est déterminée par l’administrateur (vous pouvez aussi le
                désactiver sur un message en particulier lors de sa composition). Le BBCode en lui-même est similaire au
                style du HTML; les balises sont contenues dans des crochets [ et ] à la place de &lt; et &gt;, et
                offrent un meilleur contrôle sur la manière dont quelque chose doit être affiché. Pour plus
                d’informations sur le BBCode, allez voir le guide, accessible depuis le formulaire de
                publication.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="21"></a><b>Puis-je utiliser le
                    HTML?</b></span><br /><span class="postbody">Ceci dépend de l’administrateur qui le permet ou non;
                il a un contrôle complet dessus. Si vous êtes autorisé à l’utiliser, vous vous rendrez certainement
                compte que seulement certaines balises fonctionnent. C’est une mesure de <i>sécurité</i> pour éviter aux
                gens d’abuser du forum en utilisant certaines balises qui pourraient détruire la mise en page ou causer
                d’autres problèmes. Si le HTML est activé, vous pouvez le désactiver dans un message en particulier lors
                de sa composition.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="22"></a><b>Que sont les smilies
                    ?</b></span><br /><span class="postbody">Les smilies, ou Emoticônes sont de petites images qui sont
                utilisées pour exprimer certains sentiments en utilisant un petit code, exemple : :) signifie joyeux, :(
                signifie triste. Vous pouvez voir la liste complète des émoticônes lors de la composition d’un message.
                Essayez de ne pas utiliser abusivement ces smilies, car ils peuvent vite rendre un message illisible et
                un modérateur pourrait décider de l’éditer, voire même de le supprimer entièrement.<br /><a
                    class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="23"></a><b>Puis-je poster des
                    Images?</b></span><br /><span class="postbody">Vous pouvez poster des images très simplement en
                cliquant sur le bouton « Envoyer une image » pendant que vous écrivez votre message.<br /><a
                    class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="24"></a><b>Que sont les Annonces
                    ?</b></span><br /><span class="postbody">Les Annonces contiennent le plus souvent d’importantes
                informations; vous devriez donc les lire dès que possible. Les Annonces apparaissent en haut de chaque
                page du forum dans lequel elles ont été postées. Pouvoir poster une annonce dépend des permissions
                requises; ces permissions sont définies par l’administrateur.<br /><a class="postlink"
                    href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="25"></a><b>Que sont les Post-it
                    ?</b></span><br /><span class="postbody">Les Post-it apparaissent en-dessous des annonces et
                seulement sur la première page du forum. Ils sont souvent assez importants; vous devriez donc les lire
                dès que vous pouvez. Comme pour les annonces, c’est l’administrateur qui détermine les permissions
                requises pour poster des Post-it dans chaque forum.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="26"></a><b>Que sont les sujets de
                    discussions verrouillés ?</b></span><br /><span class="postbody">Les sujets verrouillés sont
                verrouillés soit par le modérateur du forum ou soit par l’administrateur. Vous ne pouvez pas répondre
                aux sujets de discussions verrouillés et les sondages qui y sont contenus sont cessés automatiquement.
                Les sujets de discussions peuvent être verrouillés pour de maintes raisons.<br /><a class="postlink"
                    href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Niveaux des Utilisateurs et Groupes</span>
        </td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="27"></a><b>Qui sont les
                    Administrateurs ?</b></span><br /><span class="postbody">Les Administrateurs sont des personnes qui
                possèdent le plus haut niveau de contrôle sur tout le forum. Ces personnes peuvent contrôler toutes les
                facettes du forum; ceci inclut le réglage des permissions, le bannissement d’utilisateurs, la création
                de groupes d’utilisateurs ou de modérateurs, etc… Ils ont également tous les pouvoirs de modération sur
                tous les forums.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="28"></a><b>Qui sont les
                    Modérateurs?</b></span><br /><span class="postbody">Les Modérateurs sont des personnes (ou groupes
                de personnes) dont le but est de veiller au respect du règlement et au bon fonctionnement du forum tous
                les jours. Ils ont le pouvoir d’éditer ou de supprimer les messages et de verrouiller, déverrouiller,
                supprimer et diviser les sujets de discussions dans le forum où ils modèrent. Généralement, les
                modérateurs sont là pour éviter aux gens de faire du <i>hors-sujet</i> ou de poster des messages ne
                respectant pas le règlement.<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="29"></a><b>Que sont les groupes
                    d’utilisateurs ?</b></span><br /><span class="postbody">Les groupes d’utilisateurs sont une manière
                pour l’administrateur de regrouper des utilisateurs. Chaque utilisateur peut appartenir à plusieurs
                groupes (ceci diffère de la plupart des autres forums) et chaque groupe peut se voir assigner des droits
                d’accès. Ceci permet à l’administrateur de gérer aisément différents modérateurs d’un forum, ou de leur
                donner accès à un forum privé, etc…<br /><a class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="30"></a><b>Comment puis-je joindre un
                    groupe d’utilisateurs ?</b></span><br /><span class="postbody">Pour joindre un groupe
                d’utilisateurs, cliquez sur le lien <i>Groupes d’utilisateurs</i> en haut de la page (peut changer
                suivant le modèle de document); vous pourrez alors voir tous les groupes d’utilisateurs. Tous les
                groupes ne sont pas <i>ouverts</i>; certains sont <i>fermés</i> et d’autres peuvent avoir leurs
                effectifs invisibles. Si le groupe est ouvert, vous pouvez demander à le rejoindre en cliquant sur le
                bouton approprié. Le modérateur du groupe d’utilisateurs devra approuver votre demande; il pourrait vous
                demander les raisons qui vous poussent à joindre le groupe. Veuillez ne pas harceler un modérateur de
                groupe s’il désapprouve votre demande; il a ses raisons.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="31"></a><b>Comment puis-je devenir le
                    modérateur d’un groupe d’utilisateurs ?</b></span><br /><span class="postbody">Les groupes
                d’utilisateurs sont initialement créés par l’administrateur; il y assigne également un modérateur. Si
                vous êtes intéressé par la création d’un groupe d’utilisateurs, la première chose à faire sera de
                contacter l’administrateur; essayez de lui laisser un message privé.<br /><a class="postlink"
                    href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Messagerie Privée</span></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="32"></a><b>Je ne peux pas envoyer de
                    messages privés !</b></span><br /><span class="postbody">Il y a trois raisons pour cela : vous
                n’êtes pas enregistré et/ou n’êtes pas connecté, l’administrateur a désactivé la messagerie privée pour
                la totalité du forum ou l’administrateur vous empêche d’envoyer des messages privés. Si vous êtes dans
                le dernier cas, vous devriez vous adresser à l’administrateur pour en connaître la raison.<br /><a
                    class="postlink" href="#top">Revenir en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row2" align="left" valign="top"><span class="postbody"><a name="33"></a><b>Je continue de recevoir
                    des messages privés non-désirés !</b></span><br /><span class="postbody">Dans le futur, nous
                ajouterons une liste noire au système de messagerie privée. Pour le moment, si malgré tout vous
                continuez à recevoir des messages non-désirés, informez-en l’administrateur; il a le pouvoir d’empêcher
                complètement un utilisateur d’envoyer des messages privés.<br /><a class="postlink" href="#top">Revenir
                    en haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="34"></a><b>J’ai reçu un e-mail abusif
                    ou de spamming de quelqu’un sur ce forum !</b></span><br /><span class="postbody">Nous sommes peinés
                d’apprendre cela. La fonction d’e-mail intégré au forum inclut des sauvegardes pour essayer de traquer
                les utilisateurs qui envoient des messages de ce type. Vous devriez envoyer un e-mail à l’administrateur
                avec une copie complète de l’e-mail que vous avez reçu; il est important que cette copie contienne les
                en-têtes (ceux-ci fournissent une liste de détails concernant l’expéditeur). Ensuite, l’administrateur
                pourra prendre les mesures répressives qui s’imposent.<br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
    <tr>
        <td class="catHead" height="28" align="center"><span class="cattitle">Xooit</span></td>
    </tr>

    <tr>
        <td class="row1" align="left" valign="top"><span class="postbody"><a name="35"></a><b>Comment a été créé ce
                    forum ?</b></span><br /><span class="postbody">Ce forum a été créé gratuitement grâce au site
                Xooit.com.<br />Vous pouvez vous aussi créer votre propre forum sur <a
                    href="http://www.xooit.com/">Xooit.com</a><br /><a class="postlink" href="#top">Revenir en
                    haut</a></span></td>
    </tr>
    <tr>
        <td class="spaceRow" height="1"><img src="{% static '/images/single_pixel.gif' %} alt="" width="1" height="1" /></td>
    </tr>

</table>
<br clear="all" />

<table width="100%" cellspacing="2" border="0" align="center">
    <tbody>
        <tr>
            <td width="40%" valign="top" nowrap="nowrap" align="left"><span class="gensmall"></span><br>
                &nbsp;<br>
            </td>
            <td align="right" valign="top" nowrap="nowrap">
                <form method="get" name="jumpbox" action="{% url 'jumpbox-redirect' %}"
                    onsubmit="if(document.jumpbox.f.value == -1){return false;}">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td nowrap="nowrap"><span class="gensmall">Sauter vers:&nbsp;<select name="f"
                                            onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">
                                            <option value="-1">Sélectionner un forum</option>
                                            <option value="-1">----------------</option>
                                            <option value="c1">RUINS</option>
                                            <option value="f1">&nbsp; &nbsp;Règles du forum et Annonces</option>
                                            <option value="f2">&nbsp; &nbsp;Présentations</option>
                                            <option value="c2">Snowdin</option>
                                            <option value="f3">&nbsp; &nbsp;Aide et idées</option>
                                            <option value="f4">&nbsp; &nbsp;Tuto / Astuces</option>
                                            <option value="c3">Waterfall</option>
                                            <option value="f5">&nbsp; &nbsp;Easter eggs</option>
                                            <option value="f6">&nbsp; &nbsp;Espace technique</option>
                                            <option value="c4">Hotland</option>
                                            <option value="f7">&nbsp; &nbsp;Discussions générales</option>
                                            <option value="f8">&nbsp; &nbsp;Théories</option>
                                            <option value="f9">&nbsp; &nbsp;Fangames / Unitale</option>
                                            <option value="f10">&nbsp; &nbsp;Médias</option>
                                            <option value="f11">&nbsp; &nbsp;Création</option>
                                            <option value="c5">Surface</option>
                                            <option value="f12">&nbsp; &nbsp;Section libre</option>
                                            <option value="f13">&nbsp; &nbsp;Jeux</option>
                                            <option value="f17">&nbsp; &nbsp;&nbsp; &nbsp;RolePlay</option>
                                            <option value="f14">&nbsp; &nbsp;Membres</option>
                                            <option value="f15">&nbsp; &nbsp;Sondages</option>
                                            <option value="f16">&nbsp; &nbsp;Pub</option>
                                        </select>&nbsp;<input type="submit" value="Aller" class="liteoption"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <span class="gensmall"></span>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}