{% extends "base.html" %}
{% block content %}
{% load static %}
{% load bbcode_tags %}

<table width="100%" cellspacing="1" border="0" class="forumline">
    <tr>
        <th class="thTop" nowrap="nowrap"> You're new to the UNDERGROUND, arent'cha ? </th>
    </tr>
    <tr>
        <td class="row1"> <!-- style=""> -->

            <span class="genmed">
                <div style="text-align: center">
                    <br />
                    {% if request.user.is_authenticated %}
                        {% with welcome_message="Bienvenue sur le forum Undertale France, [b][color="|add:request.user.profile.get_group_color|add:"]"|add:request.user.username|add:"[/color][/b] !" %}
                            {{ welcome_message|bbcode|safe }}
                        {% endwith %}
                    {% else %}
                        Bienvenue sur le forum Undertale France, Invité !
                    {% endif %}

                    <br />
                    <br />Les nouveaux membres doivent d'abord se présenter dans <a href="f10-pr-sentations.html"
                        target="_blank" class="postlink">cette section</a> et lire le règlement disponible <a
                        href="t20-a-lire-avant-de-poster-r-glement-du-forum.html" target="_blank"
                        class="postlink">ici</a> pour pouvoir poster sur le forum.
                    <br />
                    <br />
                    <br />Si vous voulez une petite ambiance:
                    <br />
                    <br />
                    <!-- Removed align:center from the style of this div -->
                    <div width="480" height="270"
                        style="border:solid; border-color:#aaaaaa;width:480px;margin:0 auto;"> <iframe
                            src="http://youtube.com/embed/QXmOmkRuHUc?loop=1&amp;autoplay=0&amp;controls=0" width="100%"
                            height="270" loop="true" frameborder="0"></iframe></div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </span>
        </td>
    </tr>
</table>
<!-- //-->
<!-- <div style="text-align:center;margin:1em 0;"> <iframe src="pubd4eb.html?cc=0&amp;f=728x90&amp;rp=1&amp;p=728x90_header&amp;ci=113&amp;&amp;id=f901f073d4bc487425e52ecaa37f6346&amp;crtg_content=empty" style="display: inline !important; visibility: visible !important; border: 0; width: 728px; height: 110px;" frameborder="0" scrolling="no" allowTransparency="true" id="f901f073d4bc487425e52ecaa37f6346"></iframe> <script type="text/javascript"> /* missing js */ </script> </div> --><!-- //-->
<style>
    embed {
        display: none;
    }

    img[src="http://img.xooimage.com/files110/9/b/b/save-4efe4b9.gif"] {
        margin-right: 5px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://imgur.com/jKy0cJ1) no-repeat;
        width: 12px;
        height: 8px;
        padding-left: 12px;
    }
</style>
<br>
<table width="100%" cellspacing="0" cellpadding="2" border="0" align="center">
    <tr>
        <td align="left" valign="bottom"><span class="gensmall">
                {{current_date}}
            
            
                <br /></span><span class="nav"><a href="index.html"
                    class="nav">Undertale France Index du Forum</a></span></td>
        <td align="right" valign="bottom" class="gensmall">

            <a href="search33a7.html?search_id=unanswered" class="gensmall">Voir les messages sans réponses</a>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
    <tr>
        <th colspan="2" class="thCornerL" height="25" nowrap="nowrap"> Forum </th>
        <th width="50" class="thTop" nowrap="nowrap"> Sujets </th>
        <th width="50" class="thTop" nowrap="nowrap"> Messages </th>
        <th class="thCornerR" nowrap="nowrap"> Derniers Messages </th>
    </tr>

    {% for category in categories %}
        <tr>
            <td class="catLeft" colspan="2" height="28"><span class="cattitle"><a href="{% url 'category-details' category.id category.slug %}"
                        class="cattitle">{{category.name}}</a></span></td>
            <td class="rowpic" colspan="3" align="right"> </td>
        </tr>
        {% for topic in category.processed_topics %}
            <!-- {{topic.is_unread}} -->
            <tr>
                <td class="row1" align="center" valign="top" height="50">
                    {% if topic.is_locked %}
                        {% if topic.is_unread %}
                            <img src="{% static '/images/topic/unread/locked.png' %}" width="68" height="68" alt="Ce forum est verrouillé; vous ne pouvez pas poster, ni répondre, ni éditer les sujets." title="Ce forum est verrouillé; vous ne pouvez pas poster, ni répondre, ni éditer les sujets." />
                        {% else %}
                            <img src="{% static '/images/topic/read/locked.png' %}" width="68" height="68" alt="Ce forum est verrouillé; vous ne pouvez pas poster, ni répondre, ni éditer les sujets." title="Ce forum est verrouillé; vous ne pouvez pas poster, ni répondre, ni éditer les sujets." />
                        {% endif %}
                    {% else %}
                        {% if topic.is_unread %}
                            <img src="{% static '/images/topic/unread/normal.png' %}" width="68" height="68" alt="Nouveaux messages" title="Nouveaux messages" />
                        {% else %}
                            <img src="{% static '/images/topic/read/normal.png' %}" width="68" height="68" alt="Pas de nouveaux messages" title="Pas de nouveaux messages" />
                        {% endif %}
                    {% endif %}
                </td>
                <td class="row1" width="100%" height="50">

                    <span class="forumlink"> 
                    {% if topic.is_sub_forum %} 
                        <a href="{% url 'subforum-details' topic.id topic.slug %}" class="topictitle">{{topic.title}}</a>
                    {% else %}
                        <a href="{% url 'topic-details' topic.id topic.slug %}" class="topictitle">{{topic.title}}</a>
                    {% endif %}
                    <br />
                    </span> <span class="genmed" style="overflow: hidden;text-overflow: ellipsis;height: 50px;">
                        {% if topic.description %}
                            {{topic.description}}
                        {% endif %}


                        <br />
                    </span><span class="gensmall" align="top"><br> </span>

                </td>
                <td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{{topic.total_children}}</span></td>
                <td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{{topic.total_replies}}</span></td>
                <td class="row2" align="center" valign="middle" height="50" nowrap="nowrap"> <span class="gensmall">
                {% if topic.get_latest_message %}
                    <a href="{% url 'topic-details' 1 2 %}" title="Guide des balises">
                        {% if topic.get_latest_message.topic.title|length > 20 %}
                            {{ topic.get_latest_message.topic.title|slice:":20" }}…
                        {% else %}
                            {{ topic.get_latest_message.topic.title }}
                        {% endif %}</a><br />
                    {{topic.get_latest_message.created_time|date:"D d M - H:i (Y)"}}<br />
                    <a href="{% url 'profile-details' topic.get_latest_message.author.id %}" style="color:#EA8C14;font-weight:bold" class="username-coloured user-id-3">{{topic.get_latest_message.author.username}}</a> 
                    <a href="{% url 'topic-details' 1 2 %}"> <img src="{% static 'images/other/enemy_encounter.png' %}" alt="Voir le dernier message" title="Voir le dernier message" border="0" /></a></span></td>
                {% else %}
                    <!-- NO LATEST POST --> </span></td> 
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}

</table>
<table width="100%" cellspacing="0" border="0" align="center" cellpadding="2">
    <tr>
        <td align="left">

        </td>
        <td align="right"><span class="gensmall">Toutes les heures sont au format GMT + 1 Heures</span></td>
    </tr>
</table>
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
    <tr>
        <td class="catHead" colspan="2" height="28"><span class="cattitle"><a href="viewonline.html"
                    class="cattitle">Qui est en ligne ?</a></span></td>
    </tr>
    <tr>
        <td class="row1" align="center" valign="middle" rowspan="2"><img src="{% static '/images/other/tree_xmas.png' %}"
                alt="Qui est en ligne ?" /></td>
        <td class="row1" align="left" width="100%"><span class="gensmall">Nos membres ont posté un total de <b>28
                    344</b> messages<br />Nous avons <b>1 931</b> membres enregistrés<br />L’utilisateur enregistré le
                plus récent est <b><a href="profile6265.html?mode=viewprofile&amp;u=1937">kouka</a></b></span>
        </td>
    </tr>
    <tr>
        <td class="row1" align="left"><span class="gensmall">Il y a en tout <a href="viewonline.html"><b>0</b></a>
                utilisateur en ligne : 0 Enregistré, 0 Invisible, 0 Invité et 0 Moteur de recherche


                [ <span style="font-weight:bold;color:#C02200"><a href="groupcp509a.html?g=1" class="groupname"
                        style="color:#C02200">Determination</a></span> ]

                [ <span style="font-weight:bold;color:#289331"><a href="groupcp2531.html?g=2" class="groupname"
                        style="color:#289331">Royal Guard</a></span> ]

                [ <span style="font-weight:bold;color:#2D3EDF"><a href="groupcp9988.html?g=4" class="groupname"
                        style="color:#2D3EDF">Royal Guard Apprentice</a></span> ]

                [ <span style="font-weight:bold;color:#ff00cc"><a href="groupcp06cf.html?g=14" class="groupname"
                        style="color:#ff00cc">Hopeful Dreamer</a></span> ]

                [ <span style="font-weight:bold;color:#F4D400"><a href="groupcpf3f0.html?g=5" class="groupname"
                        style="color:#F4D400">It's Showtime !</a></span> ]

                [ <span style="font-weight:bold;color:#8F1C93"><a href="groupcp7576.html?g=6" class="groupname"
                        style="color:#8F1C93">Real Spider</a></span> ]

                [ <span style="font-weight:bold;color:#EA8C14"><a href="groupcp112f.html?g=10" class="groupname"
                        style="color:#EA8C14">Made of Fire</a></span> ]

                [ <span style="font-weight:bold;color:#859BFD"><a href="groupcpa8ce.html?g=9" class="groupname"
                        style="color:#859BFD">You're blue now !</a></span> ]

                [ <span style="font-weight:bold;color:#FFFFFF"><a href="groupcp894d.html?g=7" class="groupname"
                        style="color:#FFFFFF">Fallen Child</a></span> ]

                [ <span style="font-weight:bold;color:#847B7E"><a href="groupcp96f0.html?g=8" class="groupname"
                        style="color:#847B7E">Outsider</a></span> ]

                <br />Le record du nombre d’utilisateurs en ligne est de <b>55</b> le Ven 29 Mar - 22:59
                (2024)<br />Utilisateurs enregistrés : Aucun

                <br /><br />Anniversaires du jour: <a href="profile1051.html?mode=viewprofile&amp;u=1832"
                    style="color:#847B7E;font-weight:bold" class="username-coloured user-id-1832">Kynad0r</a> (21), <a
                    href="profile1c32.html?mode=viewprofile&amp;u=455" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-455">Mocha</a> (22)<br />Anniversaires des 7 prochains jours: <a
                    href="profile9175.html?mode=viewprofile&amp;u=454" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-454">Badock</a> (22), <a
                    href="profile3892.html?mode=viewprofile&amp;u=81" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-81">Bilandie</a> (28), <a
                    href="profile2e24.html?mode=viewprofile&amp;u=984" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-984">Chatthon</a> (34), <a
                    href="profile40a6.html?mode=viewprofile&amp;u=495" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-495">Chippulata</a> (23), <a
                    href="profiled843.html?mode=viewprofile&amp;u=444" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-444">Choo</a> (20), <a
                    href="profile7a7d.html?mode=viewprofile&amp;u=1292" style="color:#EA8C14;font-weight:bold"
                    class="username-coloured user-id-1292">Coliiine_</a> (1031), <a
                    href="profile2125.html?mode=viewprofile&amp;u=1633" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1633">inventrice de UA(AUA)</a> (24), <a
                    href="profile1c35.html?mode=viewprofile&amp;u=1202" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-1202">kenanb13</a> (22), <a
                    href="profilec286.html?mode=viewprofile&amp;u=1618" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1618">KirbySmash</a> (24), <a
                    href="profile94fd.html?mode=viewprofile&amp;u=1035" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1035">LeGrandPapiRusse</a> (16), <a
                    href="profile6a3e.html?mode=viewprofile&amp;u=167" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-167">Lord Vlad</a> (27), <a
                    href="profiled83d.html?mode=viewprofile&amp;u=431" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-431">lunna</a> (18), <a
                    href="profileb4e2.html?mode=viewprofile&amp;u=1507" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1507">LynnWind</a> (19), <a
                    href="profilec255.html?mode=viewprofile&amp;u=1499" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1499">Mettaton Dreemurr</a> (16), <a
                    href="profiledcee.html?mode=viewprofile&amp;u=1101" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-1101">Mettaton♥</a> (23), <a
                    href="profile0b5c.html?mode=viewprofile&amp;u=377" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-377">Naksu</a> (21), <a
                    href="profiled512.html?mode=viewprofile&amp;u=486" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-486">nargua</a> (22), <a
                    href="profile1d1d.html?mode=viewprofile&amp;u=1316" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1316">Nobunoka</a> (26), <a
                    href="profile6fa8.html?mode=viewprofile&amp;u=1599" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-1599">Noctachu pokemon</a> (41), <a
                    href="profile1124.html?mode=viewprofile&amp;u=308" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-308">Noellia</a> (35), <a
                    href="profile9768.html?mode=viewprofile&amp;u=876" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-876">Orlane</a> (28), <a
                    href="profile1078.html?mode=viewprofile&amp;u=321" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-321">sans215</a> (25), <a
                    href="profile72df.html?mode=viewprofile&amp;u=117" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-117">undyneforever</a> (20), <a
                    href="profile90b3.html?mode=viewprofile&amp;u=864" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-864">Val</a> (25), <a
                    href="profilea393.html?mode=viewprofile&amp;u=98" style="color:#FFFFFF;font-weight:bold"
                    class="username-coloured user-id-98">Yamitsuki</a> (29), <a
                    href="profile35de.html?mode=viewprofile&amp;u=207" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-207">YUKIERA</a> (26), <a
                    href="profile4de4.html?mode=viewprofile&amp;u=1711" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1711">Yxof</a> (19), <a
                    href="profiledfd3.html?mode=viewprofile&amp;u=1821" style="color:#847B7E;font-weight:bold"
                    class="username-coloured user-id-1821">zhala</a> (22)</span></td>
    </tr>
</table>
<table width="100%" cellpadding="1" cellspacing="1" border="0">
    <tr>
        <td align="left" valign="top"><span class="gensmall">Ces données sont basées sur les utilisateurs actifs des 30
                dernières minutes</span></td>
    </tr>
</table>

<form method="post" action="https://undertale-france.xooit.org/login.php">
    <table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
        <tr>
            <td class="catHead" height="28"><a name="login"></a><span class="cattitle">Connexion</span></td>
        </tr>
        <tr>
            <td class="row1" align="center" valign="middle" height="28"><span class="gensmall">Nom d’utilisateur:
                    <input class="post" type="text" name="username" size="10" />
                    Mot de passe:
                    <input class="post" type="password" name="password" size="10" maxlength="32" />

                    Se connecter automatiquement à chaque visite (selon les cookies acceptés)
                    <input class="text" type="checkbox" name="autologin" />


                    <input type="submit" class="mainoption" name="login" value="Connexion" />
                </span> </td>
        </tr>
    </table>
</form>

<br clear="all" />
<table cellspacing="3" border="0" align="center" cellpadding="0">
    <tr>
        <td width="20" align="center"><img src="{% static 'images/topic/unread/normal.png'%}" alt="Nouveaux messages" /></td>
        <td><span class="gensmall">Nouveaux messages</span></td>
        <td> </td>
        <td width="20" align="center"><img src="{% static 'images/topic/read/normal.png'%}" alt="Pas de nouveaux messages" /></td>
        <td><span class="gensmall">Pas de nouveaux messages</span></td>
        <td> </td>
        <td width="20" align="center"><img src="{% static 'images/topic/read/locked.png'%}" alt="Forum Verrouillé" /></td>
        <td><span class="gensmall">Forum Verrouillé</span></td>
    </tr>
</table>
<!-- //-->
<!-- <div style="text-align:center;margin:1em 0;"> <iframe src="pubd4eb.html?cc=0&amp;f=728x90&amp;rp=1&amp;p=728x90_header&amp;ci=113&amp;&amp;id=f901f073d4bc487425e52ecaa37f6346&amp;crtg_content=empty" style="display: inline !important; visibility: visible !important; border: 0; width: 728px; height: 110px;" frameborder="0" scrolling="no" allowTransparency="true" id="f901f073d4bc487425e52ecaa37f6346"></iframe> <script type="text/javascript"> /* missing js */ </script> </div> -->
{% endblock %}