{% extends "base.html" %}
{% block title %}
<title>Undertale France - Forum français dédié au jeu Undertale.</title>
{% endblock %}
{% block content %}
{% load static %}
{% load bbcode_tags %}
{% load tz %}

<style>
td.row1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -3px; /* Should be 75px-3px = 72px but is actually 71px for some reason */
}
</style>

<table width="100%" cellspacing="1" border="0" class="forumline">
    <tr>
        <th class="thTop" nowrap="nowrap"> You're new to the UNDERGROUND, arent'cha ? </th>
    </tr>
    <tr>
        <td class="row1"> <!-- style=""> -->

            <span class="genmed">
                <div style="text-align: center">
                    <br />
                    {% if request.user.is_authenticated %}
                        {% with welcome_message="Bienvenue sur le forum Undertale France, [b][color="|add:request.user.profile.get_group_color|add:"]"|add:request.user.username|add:"[/color][/b] !" %}
                            {{ welcome_message|bbcode|safe }}
                        {% endwith %}
                    {% else %}
                        Bienvenue sur le forum Undertale France, Invité !
                    {% endif %}

                    <br />
                    <br />Les nouveaux membres doivent d'abord se présenter dans <a href="{% if presentations %}{{ presentations.get_absolute_url }}{% else %}#{% endif %}"
                        target="_blank" class="postlink">cette section</a> et lire le règlement disponible <a
                        href="{% if regles %}{{regles.get_absolute_url}}{% else %}#{% endif %}" target="_blank"
                        class="postlink">ici</a> pour pouvoir poster sur le forum.
                    <br />
                    <br />
                    <br />Si vous voulez une petite ambiance:
                    <br />
                    <br />
                    <!-- Removed align:center from the style of this div -->
                    <div width="480" height="270"
                        style="border:solid; border-color:#aaaaaa;width:480px;margin:0 auto;"> <iframe
                            src="https://youtube.com/embed/QXmOmkRuHUc?loop=1&amp;autoplay=0&amp;controls=0" width="100%"
                            height="270" loop="true" frameborder="0"></iframe></div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </span>
        </td>
    </tr>
</table>
<!-- //-->
<!-- <div style="text-align:center;margin:1em 0;"> <iframe src="pubd4eb.html?cc=0&amp;f=728x90&amp;rp=1&amp;p=728x90_header&amp;ci=113&amp;&amp;id=f901f073d4bc487425e52ecaa37f6346&amp;crtg_content=empty" style="display: inline !important; visibility: visible !important; border: 0; width: 728px; height: 110px;" frameborder="0" scrolling="no" allowTransparency="true" id="f901f073d4bc487425e52ecaa37f6346"></iframe> <script type="text/javascript"> /* missing js */ </script> </div> --><!-- //-->
<style>
    embed {
        display: none;
    }

    img[src="http://img.xooimage.com/files110/9/b/b/save-4efe4b9.gif"] {
        margin-right: 5px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://imgur.com/jKy0cJ1) no-repeat;
        width: 12px;
        height: 8px;
        padding-left: 12px;
    }
</style>
<br>
<table width="100%" cellspacing="0" cellpadding="2" border="0" align="center">
    <tr>
        <td align="left" valign="bottom"><span class="gensmall">
            {% now "D d M - H:i (Y)" as current_time %}
            La date/heure actuelle est {{ current_time|title }}
                <br /></span><span class="nav"><a href="{% url 'index' %}"
                    class="nav">Undertale France Index du Forum</a></span></td>
        <td align="right" valign="bottom" class="gensmall">

            <a href="{% url 'search-results' %}?search_id=unanswered&show_results=topics&per_page=50" class="gensmall">Voir les messages sans réponses</a>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
    <tr>
        <th colspan="2" class="thCornerL" height="25" nowrap="nowrap"> Forum </th>
        <th width="50" class="thTop" nowrap="nowrap"> Sujets </th>
        <th width="50" class="thTop" nowrap="nowrap"> Messages </th>
        <th class="thCornerR" nowrap="nowrap"> Derniers Messages </th>
    </tr>

    {% for category in categories %}
        <tr>
            <td class="catLeft" colspan="2" height="28"><span class="cattitle"><a href="{% url 'category-details' category.id category.slug %}"
                        class="cattitle">{{category.name}}</a></span></td>
            <td class="rowpic" colspan="3" align="right"> </td>
        </tr>
        {% for topic in category.processed_topics %}
            <!-- {{topic.is_unread}} -->
            <tr>
                <td class="row1" align="center" valign="top" height="50">

                    {% if user.is_authenticated %}
                        {% if not topic.is_sub_forum %} {# if the topic is a topic #}
                            {% if not topic.user_last_read or topic.user_last_read < topic.last_message_time %} {# if the user has not read the topic #}

                                {% if topic.is_locked %}
                                    <img src="{% static 'images/topic/unread/locked.png' %}" alt="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." title="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." />
                                {% elif topic.is_pinned %}
                                    <img src="{% static 'images/topic/unread/pin.png' %}" alt="[Épinglé] Nouveaux messages" title="[Épinglé] Nouveaux messages" />
                                {% elif topic.is_announcement %}
                                    <img src="{% static 'images/topic/unread/ann.png' %}" alt="[Annonce] Nouveaux messages" title="[Annonce] Nouveaux messages" />
                                {% else %}
                                    <img src="{% static 'images/topic/unread/normal.png' %}" alt="Nouveaux messages" title="Nouveaux messages" />
                                {% endif %}

                            {% else %} {# if the user has read the topic #}

                                {% if topic.is_locked %}
                                    <img src="{% static 'images/topic/read/locked.png' %}" alt="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." title="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." />
                                {% elif topic.is_pinned %}
                                    <img src="{% static 'images/topic/read/pin.png' %}" alt="[Épinglé] Pas de nouveaux messages" title="[Épinglé] Pas de nouveaux messages" />
                                {% elif topic.is_announcement %}
                                    <img src="{% static 'images/topic/read/ann.png' %}" alt="[Annonce] Pas de nouveaux messages" title="[Annonce] Pas de nouveaux messages" />
                                {% else %}
                                    <img src="{% static 'images/topic/read/normal.png' %}" alt="Pas de nouveaux messages" title="Pas de nouveaux messages" />
                                    {% endif %}
                            {% endif %}

                        {% else %} {# if the topic is a subforum #}

                            {% if topic.is_unread %}
                                {% if topic.is_locked %}
                                    <img src="{% static 'images/topic/unread/locked.png' %}" alt="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." title="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." />
                                {% elif topic.is_pinned %}
                                    <img src="{% static 'images/topic/unread/pin.png' %}" alt="[Épinglé] Nouveaux messages" title="[Épinglé] Nouveaux messages" />
                                {% elif topic.is_announcement %}
                                    <img src="{% static 'images/topic/unread/ann.png' %}" alt="[Annonce] Nouveaux messages" title="[Annonce] Nouveaux messages" />
                                {% else %}
                                    <img src="{% static 'images/topic/unread/normal.png' %}" alt="Nouveaux messages" title="Nouveaux messages" />
                                {% endif %}
                            {% else %}
                                {% if topic.is_locked %}
                                    <img src="{% static 'images/topic/read/locked.png' %}" alt="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." title="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." />
                                {% elif topic.is_pinned %}
                                    <img src="{% static 'images/topic/read/pin.png' %}" alt="[Épinglé] Pas de nouveaux messages" title="[Épinglé] Pas de nouveaux messages" />
                                {% elif topic.is_announcement %}
                                    <img src="{% static 'images/topic/read/ann.png' %}" alt="[Annonce] Pas de nouveaux messages" title="[Annonce] Pas de nouveaux messages" />
                                {% else %}
                                    <img src="{% static 'images/topic/read/normal.png' %}" alt="Pas de nouveaux messages" title="Pas de nouveaux messages" />
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    {# if the user is not logged in #}

                    {% else %}
                        {% if topic.is_locked %}
                            <img src="{% static 'images/topic/read/locked.png' %}" alt="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." title="Ce sujet est verrouillé; vous ne pouvez pas éditer les messages ou faire de réponses." />
                        {% elif topic.is_pinned %}
                            <img src="{% static 'images/topic/read/pin.png' %}" alt="[Épinglé] Pas de nouveaux messages" title="[Épinglé] Pas de nouveaux messages" />
                        {% elif topic.is_announcement %}
                            <img src="{% static 'images/topic/read/ann.png' %}" alt="[Annonce] Pas de nouveaux messages" title="[Annonce] Pas de nouveaux messages" />
                        {% else %}
                            <img src="{% static 'images/topic/read/normal.png' %}" alt="Pas de nouveaux messages" title="Pas de nouveaux messages" />
                        {% endif %}
                    {% endif %}

                </td>
                <td class="row1" width="100%" height="50">

                    <span class="forumlink"> 
                    {% if topic.is_sub_forum %} 
                        <a href="{% url 'subforum-details' topic.id topic.slug %}" class="topictitle">{{topic.title}}</a>
                    {% else %}
                        <a href="{% url 'topic-details' topic.id topic.slug %}" class="topictitle">{{topic.title}}</a>
                    {% endif %}
                    <br />
                    </span> <span class="genmed" style="overflow: hidden;text-overflow: ellipsis;height: 50px;">
                        {% if topic.description %}
                            {{topic.description}}
                        {% endif %}


                        <br />
                    {% if topic.get_sub_forums != None %}
                        {% for subforum in topic.get_sub_forums %}
                            <img src="{% static 'images/other/save_star.gif' %}" alt="Pas de nouveaux messages"><b><a href="{{subforum.get_absolute_url}}" class="postlink">{{subforum.title}}</a></b><br>
                        {% endfor %}
                    {% endif %}
                    </span><span class="gensmall" align="top"><br> </span>

                </td>
                <td class="row2" align="center" valign="middle" height="50"><span class="gensmall total_number">{{topic.total_children}}</span></td>
                <td class="row2" align="center" valign="middle" height="50"><span class="gensmall total_number">{{topic.total_replies}}</span></td>
                <td class="row2" align="center" valign="middle" height="50" nowrap="nowrap"> <span class="gensmall">
                {% with latest_message=topic.get_latest_message %}
                    {% if latest_message %}
                        <a href="{% url 'topic-details' latest_message.topic.id latest_message.topic.slug %}" title="{{latest_message.topic.title}}">
                            {{ latest_message.topic.title|truncatechars:21 }}
                            </a><br />
                        {{latest_message.created_time|date:"D d M - H:i (Y)"|title}}<br />
                        <a href="{% url 'profile-details' latest_message.author.id %}" style="color: {{ latest_message.author.profile.get_group_color }};font-weight:bold;" class="username-coloured user-id-{{latest_message.author.id}}">{{latest_message.author.username}}</a> 
                        <a href="{% url 'post-redirect' latest_message.id %}"> <img src="{% static 'images/other/enemy_encounter.png' %}" alt="Voir le dernier message" title="Voir le dernier message" border="0" /></a></span></td>
                    {% else %}
                        <!-- NO LATEST POST --> </span></td> 
                    {% endif %}
                {% endwith %}
            </tr>
        {% endfor %}
    {% endfor %}

</table>
<table width="100%" cellspacing="0" border="0" align="center" cellpadding="2">
    <tr>
        <td align="left">

        </td>
        <td align="right"><span class="gensmall">Toutes les heures sont au format GMT + 2 Heures</span></td>
    </tr>
</table>
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
    <tr>
        <td class="catHead" colspan="2" height="28"><span class="cattitle"><a href="#"
                    class="cattitle">Qui est en ligne ?</a></span></td>
    </tr>
    <tr>
        <td class="row1" align="center" valign="middle" rowspan="2"><img src="{% static '/images/other/tree_xmas.png' %}"
                alt="Qui est en ligne ?" /></td>
        <td class="row1" align="left" width="100%"><span class="gensmall">Nos membres ont posté un total de <b>{{utf.total_messages}}</b> message{{utf.total_messages|pluralize}}<br />Nous avons <b>{{utf.total_users}}</b> membre{{utf.total_users|pluralize}} enregistré{{utf.total_users|pluralize}}
        <br />
        {% if utf.get_latest_user %}
            L’utilisateur enregistré le plus récent est <b><a href="{% url 'profile-details' utf.get_latest_user.id %}">{{utf.get_latest_user.username}}</a></b></span>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td class="row1" align="left"><span class="gensmall">Il y a en tout <a href="#"><b>{{online|length}}</b></a>
                utilisateur{{online|length|pluralize}} en ligne : {{online|length}} Enregistré{{online|length|pluralize}}, 0 Invisible, 0 Invité et 0 Moteur de recherche

                {% for group in groups %}
                &nbsp;
                [ <span style="font-weight:bold;color:{{group.color}}"><a href="{{group.get_absolute_url}}" class="groupname"
                        style="color:{{group.color}}">{{group.name}}</a></span> ]
                {% endfor %}
                
                <br />Le record du nombre d’utilisateurs en ligne est de <b>{{utf.online_record}}</b> le {{utf.online_record_date|date:"D d M - H:i (Y)"|title}}<br />Utilisateurs enregistrés : 
                {% if online|length == 0 %}
                    Aucun
                {% else %}
                    {% for user in online %}
                        <a href="{% url 'profile-details' user.id %}" class="username-coloured user-id-{{user.id}}" style="color: {{ user.profile.get_group_color }};font-weight:bold;">{{user.username}}</a>{% if not forloop.last %}, {% endif %} 
                        {% comment %} Do not add a new line above {% endcomment %}
                    {% endfor %}
                {% endif %}
                {% now "Y" as current_year %}
                <br /><br />Anniversaires du jour: 
                {% if birthdays_today %}
                    {% for birthday_user in birthdays_today %}
                        <a href="{% url 'profile-details' birthday_user.id %}" style="color:{{birthday_user.profile.get_group_color }};font-weight:bold;" 
                        class="username-coloured user-id-{{birthday_user.id}}">{{birthday_user.username}}</a> ({{birthday_user.profile.get_user_age}}){% if not forloop.last %},{% endif %} 
                    {% endfor %}
                {% else %}
                    Aucun
                {% endif %}
                <br />
                Anniversaires des 7 prochains jours: 
                {% if birthdays_in_week %}
                    {% for birthday_user in birthdays_in_week %}
                        <a href="{% url 'profile-details' birthday_user.id %}" style="color:{{birthday_user.profile.get_group_color }};font-weight:bold;" 
                        class="username-coloured user-id-{{birthday_user.id}}">{{birthday_user.username}}</a> ({{birthday_user.profile.get_user_age}}){% if not forloop.last %},{% endif %} 
                    {% endfor %}
                {% else %}
                    Aucun
                {% endif %}
                </span></td>
    </tr>
</table>
<table width="100%" cellpadding="1" cellspacing="1" border="0">
    <tr>
        <td align="left" valign="top"><span class="gensmall">Ces données sont basées sur les utilisateurs actifs des 30
                dernières minutes</span></td>
    </tr>
</table>

{% if not request.user.is_authenticated %}
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
        <tr>
            <td class="catHead" height="28"><a name="login"></a><span class="cattitle">Connexion</span></td>
        </tr>
        <tr>
            <td class="row1" align="center" valign="middle" height="28"><span class="gensmall">Nom d’utilisateur:
                    <input class="post" type="text" name="username" size="10" />
                    Mot de passe:
                    <input class="post" type="password" name="password" size="10" maxlength="32" />

                    Se connecter automatiquement à chaque visite (selon les cookies acceptés)
                    <input class="text" type="checkbox" name="autologin" />


                    <input type="submit" class="mainoption" name="login" value="Connexion" />
                </span> </td>
        </tr>
    </table>
</form>
{% endif %}

<br clear="all" />
<table cellspacing="3" border="0" align="center" cellpadding="0">
    <tr>
        <td width="20" align="center"><img src="{% static 'images/topic/unread/normal.png'%}" alt="Nouveaux messages" /></td>
        <td><span class="gensmall">Nouveaux messages</span></td>
        <td> </td>
        <td width="20" align="center"><img src="{% static 'images/topic/read/normal.png'%}" alt="Pas de nouveaux messages" /></td>
        <td><span class="gensmall">Pas de nouveaux messages</span></td>
        <td> </td>
        <td width="20" align="center"><img src="{% static 'images/topic/read/locked.png'%}" alt="Forum Verrouillé" /></td>
        <td><span class="gensmall">Forum Verrouillé</span></td>
    </tr>
</table>
<!-- //-->
<!-- <div style="text-align:center;margin:1em 0;"> <iframe src="pubd4eb.html?cc=0&amp;f=728x90&amp;rp=1&amp;p=728x90_header&amp;ci=113&amp;&amp;id=f901f073d4bc487425e52ecaa37f6346&amp;crtg_content=empty" style="display: inline !important; visibility: visible !important; border: 0; width: 728px; height: 110px;" frameborder="0" scrolling="no" allowTransparency="true" id="f901f073d4bc487425e52ecaa37f6346"></iframe> <script type="text/javascript"> /* missing js */ </script> </div> -->
{% endblock %}