{% extends "base.html" %}
{% block title %}
<title>Undertale France - Prévisualisation</title>
{% endblock %}
{% block content %}
{% load static %}
{% load bbcode_tags %}
{% load templatetags %}

<style>
    @font-face {
        font-family: 'determination';
        src: url('{% static "fonts/determination.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .sceditor-container {
        width: 99% !important;
        background-color: #000000;
        border: 0px solid #F0FFF0;
        /* Force a specific height for the container as well */
        min-height: 144px !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin: 0 !important;
    }
    
    .sceditor-container iframe, 
    .sceditor-container textarea {
        background-color: #000000;
        color: #FFFFFF;
        height: 124px !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 16px !important;
        font-family: 'determination', monospace !important;
    }
    
    /* I don't know why I have two of the same thing but whatever I'm keeping it */
    .sceditor-container textarea {
        display: block !important;
        position: static !important;
        width: 100% !important;
        height: 124px !important;
        color: #FFFFFF !important;
        resize: none !important;
        padding: 2px !important;
        margin: 0 !important;
        border: none !important;
        box-sizing: border-box !important;
        font-size: 16px !important;
        font-family: 'determination', monospace !important;
    }
    
    /* Reduce toolbar padding */
    div.sceditor-toolbar {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    /* Reduce padding in button groups */
    div.sceditor-group {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
    
    /* Hide WYSIWYG iframe */
    .sceditor-container iframe {
        display: none !important;
    }
    
    div.sceditor-toolbar {
        background: #000000;
        border-bottom: 0px solid #666666;
    }
    
    div.sceditor-group {
        background: #4C4C4C;
        border: 1px solid #A7A7A7;
    }
    
    /* Set specific padding for toolbar buttons */
    .sceditor-button {
        padding: 3px 5px !important;
        margin: 1px !important;
    }
    
    /* Make source button look permanently active */
    .sceditor-button-source, div.sceditor-button-source.active {
        background-color: #333333 !important;
        border: 1px solid #777777 !important;
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3) !important;
        opacity: 0.8 !important;
        pointer-events: none !important; /* Prevent clicking entirely */
    }
</style>

<style>
    /* Only for this page */
    td.spaceRow {
      height: 7px !important;
      padding: 0 !important;
      line-height: 0 !important;
      border: none !important;
    }
    td.spaceRow img {
      display: block !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
    }
</style>


 <style>  
    /* This is for the quick reply, taken from new_post_form.html */
    
    /* td.row2 {
        padding: 4px;
    }  */

    .row2 input, .row2 textarea {
        background-color: #000000 !important;
        color: #ffffff !important;
        border: 1px solid #666666 !important;
        padding: 5px;
    }

    .row2 textarea {
        width: 99% !important; /* Make the textarea wider */
    }

    .row2 input {
        width: 50% !important; /* Make the text inputs wider */
    }

    .password-container input {
        width: 200px;
    }

    .row2 input:focus {
        outline: none;
        border-color: #000000;
        box-shadow: 0 0 5px #8FA5C1;
    }


    .classRow2 {
        margin: auto 0;
        padding: 4px;
        align-items: center;
    }

    input[type="date"] {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 1px solid #FFFFFF !important;
    padding: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Inverts the icon color (black becomes white) */
        cursor: pointer;
        padding: 2px;
    }

</style>

<table width="100%" cellspacing="2" cellpadding="2" border="0">
    <tbody>
        <tr>
            <td align="left" valign="bottom" colspan="2" class="maintitle">Prévisualisation : fermez cet onglet pour continuer à rédiger votre message.</a><br>
                <span class="gensmall"><b></b>
                    &nbsp; </span>
            </td>
        </tr>
    </tbody>
</table>

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
    <tbody>
        {% comment %} START DUMMY POST  {% endcomment %}
        <tr>
            <td width="150" align="left" valign="top" class="row1">
                <div class="hovername">
                    <a name="p{{post.id}}"></a>
                    <span style="color: {{ post.author.profile.get_group_color }};font-weight:bold;" class="username-coloured user-id-{{post.author.id}}">{{post.author.username}}</span>
                    <br>
                    <span class="postdetails">
                        <span>{{post.author.profile.get_top_group.name}}
                        <br>
                        {% if post.author.profile.get_top_group.icon %}
                            <img src="{{post.author.profile.get_top_group.icon.url}}" alt="{{post.author.profile.get_top_group.name}}" border="0">
                        {% endif %}
                        <br>
                        </span>
                        <style>
                            span[title='Desc'] {
                                display: none;
                            }

                            div.hovername:hover span[title='Desc'] {
                                display: block !important;
                            }

                            span[title='Desc'] {
                                border-bottom: 1px solid #666;
                                padding-bottom: 3px;
                                padding-top: 3px;
                            }
                        </style>
                        {% if post.author.profile.profile_picture %}
                            <img src="{{ post.author.profile.profile_picture.url }}" alt="PROFILE_PICTURE" border="0" class="user-id-{{post.author.id}} photo">
                        {% endif %}
                        <br>
                        <span class="gensmall" style="font-weight:bold;color:#F82D2E">Hors ligne</span>
                        {% if post.author.profile.desc %}
                            <span id="infohover" style="padding-top:3px;line-height:1.2;"> <span title="Desc">{{post.author.profile.desc}}</span>
                        {% endif %}
                            <div>Type: <img src="{% static 'images/profile/type/' %}{{ post.author.profile.type }}.png" alt="{{ post.author.profile.type }}" title=""></div> 
                            {% if post.author.profile.zodiac_sign %}
                                <span title="Signe du Zodiaque"><img src="{% static 'images/profile/zodiac/' %}{{ post.author.profile.zodiac_sign }}.png" alt="{{post.author.profile.zodiac_sign}}" title="{{post.author.profile.zodiac_sign}}">
                                </span>
                            {% endif %} 
                            <span
                                title="Sexe"><img src="{% static 'images/profile/gender/' %}{{ post.author.profile.gender }}.png" alt="{{ post.author.profile.gender }}" title="{{ post.author.profile.gender }}"></span>
                        </span>
                        <br>Inscrit le: {{post.author.date_joined|date:"d M Y"}}<br>Messages: {{post.author.profile.messages_count|add:'1'}}
                    </span>
                </div>
            </td>
            <td class="row1" width="100%" height="28" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="100%"><a href="#"><img
                                        src="{% static 'images/other/save_star.gif' %}" alt="Message" title="Message" border="0"></a>
                                <span class="postdetails">Posté le: {{post.created_time|date:"D d M - H:i (Y)"|title }}<span
                                        class="gen">&nbsp;</span></span></td>
                            <td valign="right" nowrap="nowrap">
                                <a href="#"><img src="{% static 'images/other/citer.png' %}" alt="Répondre en citant" title="Répondre en citant" border="0"></a>
                                {% if request.user == post.author or request.user.profile.is_user_staff %}
                                    <a href="#"> <img src="{% static 'images/other/edit.png' %}" alt="Éditer le message"title="Éditer le message" border="0"></a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="postbody" id="message">
                                    {{post.text|process_video_tags|bbcode|finalize_video_tags}}
                                    {% if post.author.profile.signature %}
                                        <br>───────────────────<br>
                                        {{post.author.profile.signature|process_video_tags|bbcode|finalize_video_tags}}
                                    {% endif %}
                                </span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            </tr>
            <tr>
            <td class="row1" width="150" align="left" valign="middle"><span class="nav"><a href="#top"
                        class="nav">Revenir en haut</a></span></td>
            <td class="row1" width="100%" height="28" valign="bottom" nowrap="nowrap">
                <table cellspacing="0" cellpadding="0" border="0" height="18" width="18">
                    <tbody>
                        <tr>
                            <td valign="middle" nowrap="nowrap">
                                {% if request.user.is_authenticated %}
                                    <a href="#"><img src="{% static '\images\other\profil.png' %}" alt="Visiter le profil du posteur" title="Visiter le profil du posteur" border="0"></a>
                                    <a href="#"><img src="{% static '\images\other\mp.png' %}" alt="Parler en privé au posteur" title="Parler en privé au posteur" border="0"></a>
                                    {% if post.author.profile.email_is_public %}
                                        <a href="#"><img src="{% static '\images\other\email.png' %}" alt="Envoyer un e-mail au posteur" title="Envoyer un e-mail au posteur" border="0"></a>
                                    {% endif %}
                                {% endif %}
                                {% if post.author.profile.website %}
                                    <a href="#"><img src="{% static '\images\other\site.png' %}" alt="Visiter le site web du posteur" title="Visiter le site web du posteur" border="0"></a>
                                {% endif %}
                                {% if post.author.profile.skype %}
                                    <a href="#" title="{{post.author.skype}}"><img src="{% static '\images\profile\other\icon_skype.gif' %}" alt="Skype" title="Skype" border="0"></a>
                                {% endif %}
                                <script language="JavaScript" type="text/javascript">
            if ( navigator.userAgent.toLowerCase().indexOf('mozilla') != -1 && navigator.userAgent.indexOf('5s.') == -1 && navigator.userAgent.indexOf('6.') == -1 )
            document.write(' ');
            else
            document.write('</td><td> </td><td valign="top" nowrap="nowrap"><div style="position:relative"><div style="position:absolute"></div><div style="position:absolute;left:3px;top:-1px"></div></div>');
                                </script>
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" nowrap="nowrap">
                                <div style="position:relative">
                                    <div style="position:absolute"></div>
                                    <div style="position:absolute;left:3px;top:-1px"></div>
                                </div><noscript></noscript>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            </tr>
            <tr>
                <td class="spaceRow" colspan="2" height="1"><img src="{% static 'images/single_pixel.gif' %}" alt=""></td>
            </tr>
        </tbody>
    </table>
    {% comment %} END DUMMY POST {% endcomment %}

{% endblock %}