{% extends "./base.html" %}
{% block title %}
<title>Undertale France - Prévisualisation</title>
{% endblock %}
{% block content %}
{% load static %}
{% load bbcode_tags %}
{% load templatetags %}

{% comment %} {% include "./includes/_stats_header.html" %} {% endcomment %}

        <style>
            #mainheader {
                margin-bottom: 0;
            }
        </style>

        <div class="navigationsubmenu">
            <a href="#" class="clickupdated">Prévisualisation</a>
        </div>
        <style>
            .afterMainHeader {
                margin-bottom: 0;
            }
        </style>

        <h1>Prévisualisation : fermez cet onglet pour continuer à rédiger votre message</h1>

        <br>
        <div class="ibc">
            <div class="largeLeft" style="position: relative;">
                <div id="autoLoadList">

                    <div class="bloc ">
                        <a name="p{{post.id}}" class="clickupdated" onclick=""></a>
                        <div class="onereply firstreply">

                            <div class="dotMenu">
                                <div style="text-align: right; width: 40px; position: relative;">
                                    <div class="dots"
                                        onclick="jQuery('.autoRollUp').slideUp(200); if (!jQuery(this).next(':visible').length) jQuery(this).next().slideToggle(200); event.stopPropagation();">
                                        <i class="fas fa-ellipsis-h"></i></div>
                                    <div class="dotsMenu popup_standard autoRollUp">
                                        <a href="#" class="clickupdated"><i
                                                class="fal fa-comment-alt-lines fa-fw"></i> Répondre en citant</a>
                                        {% if request.user == post.author or request.user.profile.is_user_staff %}
                                            <a href="#" class="clickupdated" onclick=""><i
                                                class="fa-solid fa-pencil"></i> Éditer le message</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="metadatas">
                                <div>
                                    <div class="authorAvatar isLastPopupUserShower"
                                        userid="{{post.author.id}}"
                                        style="position: relative;">
                                        <div class="author">
                                            <a href="#"
                                                style="text-decoration: none; color: inherit;" class="clickupdated"
                                                onclick=""><span style="color:{{post.author.archiveprofile.get_group_color}};"
                                                    class="username-coloured user-id-{{post.author.id}} fix-contrast">{{post.author.username}}</span></a>
                                            <div class="postDate hideOnDesktop">
                                                <span timestamp="{{post.created_time|timestamp}}" title="{{post.created_time|timestamp}}">{{post.created_time|timestamp}}
                                                </span> <a href="#" onclick=""
                                                    lorem="ipsum" class="clickupdated"><i
                                                        class="fa-solid fa-bullseye-pointer"></i></a>
                                            </div>
                                        </div>

                                        {% if post.author.archiveprofile.profile_picture %}
                                            <div class="avatar avatarX {%if post.user_is_online%}avataronline{%else%}avataroffline{%endif%}"
                                                style="background: url({{ post.author.archiveprofile.get_avatar_url }}) no-repeat center center; background-color: white; background-size: cover">
                                            </div>
                                        {% else %}
                                            {% get_user_random_color username=post.author.username as random_color %}
                                            <div class="avatar avatarX {%if post.user_is_online%}avataronline{%else%}avataroffline{%endif%}"
                                            style="background-color: {{ random_color }}; color: rgba(255, 255, 255, 0.9)">{{ post.author.username|slice:":1"|upper }}</div>
                                        {% endif %}

                                    </div>

                                    {% if post.author.archiveprofile.desc %}
                                        <div class="profileStatus hideOnMobile profileStatusReversed"
                                            style="margin-left: calc(50% - 60px); margin-top: 4px; margin-right: auto;">
                                            <div class="psPicto">


                                                <div class="psStatus">{{post.author.archiveprofile.desc}}</div>
                                            </div>
                                            <div class="psB1"></div>
                                            <div class="psB2"></div>
                                            <div class="psB3"></div>

                                        </div>
                                    {% endif %}

                                    <div class="hideOnMobile"
                                        style="margin-top: 0.5em; font-weight: 100; text-align: center;">{{post.author.archiveprofile.get_top_group}}</div>

                                </div>

                                {% if post.author.archiveprofile.desc %}
                                    <div class="profileStatus profileStatusTiny hideOnDesktop"
                                        style="margin-left: 25px; margin-top: 5px; margin-bottom: 0;">
                                        <div class="psPicto">

                                            <div class="psStatus">{{post.author.archiveprofile.desc}}</div>
                                        </div>
                                        <div class="psB1"></div>
                                        <div class="psB2"></div>
                                        <div class="psB3"></div>

                                    </div>
                                {% endif %}

                            </div>
                            <div class="maindatas">
                                <div class="postDate hideOnMobile">
                                    <span timestamp="{{post.created_time|timestamp}}" title="{{post.created_time|timestamp}}">{{post.created_time|timestamp}}</span> 
                                    <a href="#" onclick="" lorem="ipsum"
                                        class="clickupdated"><i class="fa-solid fa-bullseye-pointer"></i></a>
                                </div>
                                <div class="blocMessage">
                                    <div style="font-weight: 400;">

                                        <div class="BBCodeStyled">
                                            {{post.text|process_video_tags|bbcode|finalize_video_tags}}
                                        </div>

                                    </div>
                                    {% if post.author.archiveprofile.signature %}
                                        <div class="actions">
                                            <div class="votes" style="width: 100%">
                                                <div style="display: flex;width: 100%;justify-content: space-between;">
                                                    <div>
                                                        {{post.author.archiveprofile.signature|process_video_tags|bbcode|finalize_video_tags}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="smallRight">

                <div class="bloc">
                    <div class="cattitle">Prévisualisation</div>
                    <div class="blocwrapper">
                        <div>Ceci est un aperçu de votre message. Fermez cet onglet pour continuer à rédiger.</div>
                        <div class="localCopyToMenuMobile">
                            <div class="submit-buttons small">
                                <button style="width: 100%; text-transform: none; text-align: left;" 
                                onclick="window.close();"><i
                                    class="fa-solid fa-fw fa-arrow-left"></i> Retour à l'édition</button>
                            </div>

                        </div>
                    </div>
                </div>

                {% include "./includes/_who_is_online.html" %}

            </div>
        </div>

{% endblock %}
