{% extends "./base.html" %}
{% block title %}
<title>Undertale France - Forum français dédié au jeu Undertale.</title>
{% endblock %}
{% block content %}
{% load static %}
{% load bbcode_tags %}
{% load tz %}
{% load templatetags %}

{% include "./includes/_stats_header.html" %}
            <div class="ibc">
                <div class="largeLeft" id="forHomeMainRefresh">

                    <div class="homeListingSelectorV2">
                        <a href="{% url 'index' %}" class="sel"
                            kajaxoptions="{&quot;noScrollTop&quot;:1}"><b>Catégories</b></a>

                        <a href="{% url 'index' %}?filter=popular"
                            kajaxoptions="{&quot;noScrollTop&quot;:1}"><b>Populaires</b></a>
                        <a href="{% url 'index' %}?filter=newposts"
                            kajaxoptions="{&quot;noScrollTop&quot;:1}"><b>Récents</b></a>
                    </div>



                    <div id="forHomeRefresh">



                        {% for category in categories %}
                            <div class="bloc">
                                <div class="cattitle"><a href="{{category.get_absolute_url}}">{{category.name}}</a></div>



                                {% for topic in category.processed_topics %}
                                    <div class="listforum">
                                        <div class="iconnewtopics">{% include "./includes/_topic_icon.html" %}</div>

                                        {% comment %} <div class="icon"><img
                                                src="https://img.xooimage.com/files110/5/8/9/password25-4ca06e4.png"></div> {% endcomment %}

                                        <div class="datas">
                                            <div class="maindatas">
                                                <div class="title">
                                                    <div style="display: flex;">
                                                        <div class="topictitle"><a href="{{topic.get_absolute_url}}"
                                                                class="forumlink">{{topic.title}}</a></div>
                                                        <div
                                                            style="flex: 0; flex-grow: 0; flex-shrink: 0; white-space: nowrap; font-size: 0.65em; margin-left: 10px; font-weight: normal; padding-top: 2px; opacity: 0.5; text-align: right;">
                                                            <div class="topics hideOnDesktop"><i class="fad fa-comment"></i> {{topic.total_children|intspace}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if topic.description %}
                                                    <div class="desc">{{topic.description}}</div>
                                                {% endif %}
                                                {% if topic.get_sub_forums != None %}
                                                    {% for subforum in topic.get_sub_forums %}
                                                        <div class="subforums" style="display: var(--var-display-show-submenus)">
                                                            <a href="{{subforum.get_absolute_url}}">{{subforum.title}}</a>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}



                                            </div>
                                            <div class="moredatas">
                                                <div class="topics hideOnMobile"><i class="fad fa-comment"></i> {{topic.total_children|intspace}}</div>
                                                <div class="posts hideOnMobile"><i class="fad fa-comment-lines"></i> {{topic.total_replies|intspace}}</div>
                                                {% with latest_message=topic.get_latest_message %}
                                                {% if latest_message %}
                                                    <div class="lastpost">

                                                        {% if latest_message.author.profile.profile_picture %}
                                                            <div class="avatar" userid="{{latest_message.author.id}}" style="opacity: 0.5; background-image: url({{latest_message.author.profile.profile_picture.url}}); font-size: 2em;"></div>
                                                        {% else %} 
                                                            {% get_user_random_color username=latest_message.author.username as random_color %}
                                                            <div class="avatar empty" userid="{{latest_message.author.id}}" style="opacity: 0.5; background-color: {{random_color}}; color: rgba(255, 255, 255, 0.7); font-size: 2em;">{{latest_message.author.username|slice:":1"|upper}}</div>
                                                        {% endif %}

                                                        <div style="flex: 1; padding-left: 5px; font-size: 0.9em;">
                                                            <i class="fa-solid fa-clock"></i> <b><a href="{% url 'post-redirect' latest_message.id %}"
                                                                    title="Règlement du forum">{{ latest_message.topic.title|truncatechars:21 }}</a></b><br>
                                                            par <span class="autoUserPopup"
                                                                userid="{{latest_message.author.id}}"><a
                                                                    href="{% url 'profile-details' latest_message.author.id %}"
                                                                    style="color:{{ latest_message.author.profile.get_group_color }};"
                                                                    class="fix-contrast username-coloured user-id-{{latest_message.author.id}}">{{ latest_message.author.username }}</a> </span>
                                                            <span timestamp="{{latest_message.created_time|timestamp}}">{{latest_message.created_time|timestamp}}</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% endwith %}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}







                    </div>
                </div>
                <div class="smallRight">



                    <div class="bloc blocpremium" onclick="showPremium()">
                        <div class="blocwrapper">
                            <div style="display: flex; align-items: center;justify-content: space-around;">
                                <div>
                                    <div
                                        style="font-weight: 800; font-style: italic; font-size: 2.5em; margin-top: 0.4em;">
                                        PREMIUM</div>
                                    <div style="font-style: italic; margin-top: 0.5em">3,99€ / mois</div>
                                </div>
                                <img src="https://img.xooimage.com/files_lottie/certified-xooit.svg"
                                    style="float: right; height: 4.5em;">
                            </div>
                            <br>
                            <div style="text-align: center; margin-bottom: 1em; font-weight: 700;">

                                Devenez <span class="premium">Membre <b>Premium</b></span> de ce forum et profitez
                                d'incroyables avantages !

                            </div>
                        </div>
                    </div>


                    {% include "./includes/_who_is_online.html" %}



                    <div class="bloc">
                        <div class="blocwrapper" style="font-size: 0.9em;">
                            <div class="ibc" style="color: var(--var-tr-color-contrast-soft); font-size: 0.95em;">
                                <div class="size tiers" style="text-align: center"><i
                                        class="fa-solid fa-bubble fa-ico-IMG_FORUM fa-ico-UNREAD"></i><br />Nouveaux
                                    messages</div>
                                <div class="size tiers" style="text-align: center"><i
                                        class="fa-solid fa-bubble fa-ico-IMG_FORUM fa-ico-READ"></i><br />Pas de
                                    nouveaux messages</div>
                                <div class="size tiers" style="text-align: center"><i
                                        class="fa-solid fa-bubble fa-ico-IMG_FORUM fa-ico-READ fa-ico-LOCKED"></i><br />Forum
                                    Verrouillé</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- //--> <!-- ]]>"')}*/ //--><!--</script>--><!--//-->
            <script type="text/javascript"><!-
(function(){
var f = window.onresize || function(){};
window.onresize = function(){
document.cookie="ww=" + window.innerWidth + "; expires=Thu, 18 Dec 2026 12:00:00 GMT; path=/";
f();
};
document.cookie="ww=" + window.innerWidth + "; expires=Thu, 18 Dec 2026 12:00:00 GMT; path=/";
})();
-></script>
            <style>
                #vapi_product_image {
                    display: none !important;
                }
            </style>
        </div>
    </div>
    <!-- wrapcentre -->
{% endblock %}